.example-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 0px;
  padding: 10px;
}
.first-heading {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  margin: 0px;
  /* gap: 16px; */
  font-size: 56px;
  width: 799px;
  height: 150px;
}
.second-heading {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: row;

  margin-top: 0px;
  margin-right: 5px;
  padding: 0px;
  font-size: 56px;
  width: 799px;
  height: 80px;
}
.header-text {
  color: white;
  margin-bottom: 10px;
}

.icon-text-container {
  display: flex;
  flex-direction: column;
}

.icon-text {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon-text img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.icon-text p {
  margin: 0;
}

.blue-font {
  width: auto;
  height: 32px;
  margin-left: "12px";
  margin-right: "100px";
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  /* identical to box height, or 32px */
  padding: 0px;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: #0096ff;
}

.white-font {
  width: auto;
  height: 32px;
  padding: 0px;
  margin-right: 3px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  /* identical to box height, or 32px */

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}
